* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
}
/* header section  */
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative
}

nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 0;
}


.logo {
    width: 150px;
    cursor: pointer;
}

nav button {
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.language-btn{
   display: inline-flex;
   align-items: center;
   background: transparent;
   border: 1px solid #fff;  
   padding: 7px 10px;
}
.language-btn img {
    width: 10px;
    margin-left: 10px;
}